* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'tahoma';
    font-size: 100%;
}

@font-face {
    font-family: 'tahoma';
    src: url(../Font/tahoma.ttf);
}

#content {
    margin-top: 60px;
    width: 100%;
    height: 80%;
    display: flex;
}

/*Catalog*/
#content .phanloai {
    width: 15%;
    height: auto;
    display: inline-block;
    position: fixed;
}

#content .phanloai h2{
    font-size: 16px;
}

.phanloai .loai {
    margin-top: 20px;
    padding: 0 5px;
    text-align: left;
}

.phanloai .loai a {
    padding: 18px 0;
    transition: 0.2s;
    text-decoration: none;
    color: #000;
    display: inline-block;
    width: 200px;
}

.phanloai .loai a:hover {
    cursor: pointer;
    background-color: #990B61;
    color: #fff;
    border-radius: 5px;
}

#content .phanloai h2 {
    padding-top: 30px;
    padding-left: 10px;
    pointer-events: none;
    text-align: start;
}

/*Sort*/
#content .products-container .sort{
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    
}
.sort select {
    margin-left: 10px; 
}

#content .products-container p {
    padding-left: 10px;
    pointer-events: none;
}

#content .products-container {
    margin-left: 15%;
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    display: block;
}

/*Products*/
#content .product {
    width: 80%;
    height: 240px;
    padding: 16px 18px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 30px;
    transition: 0.2s ease;
    position: relative;
    display: block;
    background-color: #fff;
}


#content .product:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
    transform: translateY(-6px);
}

#content .product .product--hoverEffect {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #EFEFEF;
    border-radius: 5px;
}

#content .product img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    background-color: #EFEFEF;
    transition: 0.2s;
}

#content .product img:hover {
    transform: scale(1.1);
}

#content .product .product-description {
    display: inline;
    text-align: start;
    padding: 10px;
}

#content .product .product-description span {
    font-size: 18px;
    padding-left: 10px;
}

#content .product .product-description h5 {
    padding-top: 7px;
    padding-left: 20px;
    color: #8a8888;
    font-size: 16px;
}

#content .product .product-description .star {
    padding-left: 30px;
    padding-top: 7px;
}

#content .product .product-description i {
    padding-left: 5px;
    font-size: 16px;
    color: #990B61;
    
}

#content .product .product-description h4 {
    padding-left: 40px;
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #990B61;
}

#content .product a {
    display: inline-block;
    cursor: pointer;
}

#content .product .product-cart-icon {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 43px;
    border-radius: 50px;
    background-color: #f0f0f0;
    font-weight: 500;
    color: #990B61;
    border: 1px solid #f0f0f0;
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.footer {
	background-color: gray;
	width: 100%;
    bottom: 0;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 50%;
	padding: 5px 15px;
}

.footer-col h4 {
	font-size: 16px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #000;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 5px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 16px;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	text-align: center;
    margin: auto;
	line-height: 30px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}